node_modules
.next
dist
build
.git
storage
vendor
**/node_modules
**/.next
npm-debug.log
Dockerfile
docker-compose*.yml
.git
.next
node_modules
storage
vendor
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
